* { box-sizing: border-box; }
body { background-color:#5280c5;
	   background-image: url(pinkbackground.jpg); 
	   color:#003366; 
	   font-family: Chalkduster;}
header { background-color: #A0522D;
		 background-repeat: no-repeat;
		 background-position: center; 
		 color: #f0f0f0; 
		 text-align: center;}
h1   { line-height: 150%;
	   text-indent: 1em;
	   margin: 0;
	   font-size: 5em;
	   padding: 0.2em;
	   text-shadow: #cccccc;}
nav  { float: left;
	   width: 180px;
	   font-weight: bold;
	   padding: 5px;} 
nav ul {list-style-type:none;} 
nav a {text-decoration: none;} 
nav a:link {color: #A0522D;}
nav a:visited {color: #F4A460;}
nav a:hover {color: #D2691E;}
main { margin-left: 180px;
	   padding-left: 2em;
	   padding-right: 2em;
	   background-color: #FFF8DC;
	   border: 1px solid #aec3e3;
}
.category { font-weight: bold;
			font-size: 3em;
			color:#A0522D;
			font-family: Georgia, "Times New Roman", serif;
			text-align: left; 
			}
.table {
		 color:#000000;
		 font-family: Georgia, "Times New Roman", serif;
		 text-align: center;
			}
footer { font-size: .70em;
		 font-style: italic ;
		 padding: 1em;
		 margin-left: 180px;} 
#wrapper { margin-left: 5em;
		   margin-right: 5em;
		   min-width: 700px; 
		   background-color:#F5DEB3;}
img {border: none;
} 
header, nav, main, footer {display: block;} 
#mobile {display: none;}
#desktop {display: inline; } 
table { margin: 1em solid #00008b;
		border-collapse: collapse;
}
td, th { padding: 0.5em; 
		 border: 1px solid #00008b;
}
label { display: block;
		float: left;
		text-align: right;
		width: 8em;
		padding-right: 1em;
}
input, textarea { display: block;
				  margin-bottom: 1em;
}
#mySubmit { margin-left: 9.5em;}
#myOrder {margin: auto;}  
@media only screen and (max-width: 1024px) 
{
	body {margin: 0;
		  padding: 0;
		  background-color: #ffffff;
		  background-image: none;
	}
	#wrapper {width: auto;
			  min-width: 0;
			  margin: 0;
	}
	h1 {margin: 0;
		font-size: 1.8em;
		line-height: 200%;
	}
	nav {float: none;
		 padding: 0;
		 width: auto;
	}
	nav li {display: inline-block;
	}
	nav a {padding: 1em;
		   font-size: 1.2em;
	}
	nav ul {text-align: center;
			padding: 0;
			margin: 0;
	}
	main { font-size: 90%;
		   margin: 0;
		   padding-left: 2em;
	}
	footer {margin: 0;
	}		  
} 
@media only screen and (max-width: 768px)
{
	header { background-image: url(lilfish.gif);
		     background-repeat: no-repeat;
		     background-position: center;
	}
	h1 {font-size: 1.5em;
		line-height: 120%;
	}
	nav a { display: block;
			padding: 0.2em;
			font-size: 1em;
			border-bottom: 1px solid #330000;
	}
	nav li {display: block}
	nav ul {text-align: left}
	main { padding: 1em}
	.category {text-shadow: none} 
	#mobile {display: inline;}
	#desktop {display: none;} 
}

		   
